# Libaries
libraries/electron/windows/*
libraries/electron/os-x/*
libraries/electron/linux/*

# Apps
app/logs/*

# Test Web Server
system/web-server/tests/logs/*

# NPM
npm-debug.log

# Operating System
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
