body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2, h3, h4, h5, h6, p, table, form, form .field {
	margin: 1em 0;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, p:first-child {
	margin-top: 0;
}
h1, h2, h3, h4, h5, h6, thead {
	font-weight: 500;
}

a:hover {
	color: rgba(0, 0, 0, .5);
}

table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	table-layout: fixed;	
}
	thead tr:hover {
		background: transparent;
	}
	tr:hover {
		background: rgba(0, 0, 0, 0.05);
	}
	th {
		border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	}
	td {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
	th, td {
		padding: .5em .5em .5em 1em;
		white-space: nowrap;
		overflow: scroll;
		text-overflow: ellipsis;
	}
	th:first-child, td:first-child {
		padding-left: 0;
	}
	th:hover, td:hover {
  		text-overflow: clip;
	}

.button {
	/*background: rgba(0, 0, 0, 0.15);*/
	/*padding: .4em .7em;*/
	border-radius: .15em;
	display: inline-block;
	font-weight: 600;
}
	.button:hover {
		background: rgba(0, 0, 0, 0.2);
	}
	.button:active {
		background: rgba(0, 0, 0, 0.25);
	}

.icon.caret:after {
	content: '';
	display: inline-block;
	width: 0;
    height: 0;
    border-width: .3em 0 .3em .3em;
    border-style: solid;
    border-color: #333;
    border-top-color: transparent;
    border-bottom-color: transparent;
    margin: 0 0 .05em .5em;
    transform: rotate(90deg);
}

.listView.horizontal

.linkList {
}
.linkListItem a {
	padding: .5rem 1rem;
	display: block;
}
	.linkListItem a:hover {
		color: #333;
		background: rgba(0, 0, 0, 0.05);
	}