body {
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

p, h1, h2, h3, h4, h5, h6, table, form, form .field {
	margin-bottom: .5em;
}

h1 {
	font-size: 2em;
	font-weight: bold;
}
h2 {
	font-size: 1.75em;
	font-weight: bold;
}
h3 {
	font-size: 1.5em;
	font-weight: bold;
}
h4 {
	font-size: 1.25em;
	font-weight: bold;
}
h5 {
	font-size: 1em;
	font-weight: bold;
}
h6 {
	font-size: .8em;
	font-weight: bold;
}

table {
	border: 1px solid rgba(34, 36, 38, 0.15);
	border-radius: .25em;
	border-collapse: separate;
}
	thead {
		font-weight: bold;
		background: #EFEFEF;
	}
		th {
			padding: .9em .75em;
		}
	tr {
		
	}
		td, th {
			border-bottom: 1px solid rgba(34, 36, 38, 0.15);
			border-left: 1px solid rgba(34, 36, 38, 0.15);
		}
		td {
			padding: .75em;
		}
		table tr td:first-child, table tr th:first-child {
		    border-left: none;
		}
		table tr:last-child td {
		    border-bottom: none;
		}	

.button {
	display: inline-block;
	border-radius: .25em;
	background: #EFEFEF;
	padding: .75em 1.5em;
}
	.button:hover {
		background: #DDD;
	}

.list .item {
	display: block;
}
.list.horizontal .item {
	display: inline;
	margin-right: .5em;
}