body {
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	padding: 1em;
}

p, h1, h2, h3, h4, h5, h6, table, form, form .field {
	margin-bottom: .5em;
}

h1 {
	font-size: 2em;
}

thead {
	font-weight: bold;
}
td {
	padding-right: 1em;
}

a.button, button {
	display: inline-block;
	border-radius: .25em;
	background: #EFEFEF;
	padding: .75em 1.5em;
}